<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.martinipool.scheduler.exchange.mapper.ExchangeMapper">
  <insert id="insert" parameterType="com.labshigh.martinipool.scheduler.exchange.dao.ExchangeDao" useGeneratedKeys="true" keyProperty="uid">
    INSERT INTO exchange (`code`,
                          currency_code,
                          currency_name,
                          country,
                          `name`,
                          `date`,
                          `time`,
                          recurrence_count,
                          base_price,
                          opening_price,
                          high_price,
                          low_price,
                          `change`,
                          change_price,
                          cash_buying_price,
                          cash_selling_price,
                          tt_buying_price,
                          tt_selling_price,
                          tc_buying_price,
                          fc_selling_price,
                          exchange_commission,
                          us_dollar_rate,
                          high52w_price,
                          high52w_date,
                          low52w_price,
                          low52w_date,
                          currency_unit,
                          provider,
                          signed_change_price,
                          signed_change_rate,
                          change_rate)
    VALUES (#{code},
            #{currencyCode},
            #{currencyName},
            #{country},
            #{name},
            #{date},
            #{time},
            #{recurrenceCount},
            #{basePrice},
            #{openingPrice},
            #{highPrice},
            #{lowPrice},
            #{change},
            #{changePrice},
            #{cashBuyingPrice},
            #{cashSellingPrice},
            #{ttBuyingPrice},
            #{ttSellingPrice},
            #{tcBuyingPrice},
            #{fcSellingPrice},
            #{exchangeCommission},
            #{usDollarRate},
            #{high52wPrice},
            #{high52wDate},
            #{low52wPrice},
            #{low52wDate},
            #{currencyUnit},
            #{provider},
            #{signedChangePrice},
            #{signedChangeRate},
            #{changeRate})
    ON DUPLICATE KEY UPDATE
        `code` = #{code},
        currency_code = #{currencyCode},
        currency_name = #{currencyName},
        country = #{country},
        `name` = #{name},
        `date` = #{date},
        `time` = #{time},
        recurrence_count = #{recurrenceCount},
        base_price = #{basePrice},
        opening_price = #{openingPrice},
        high_price = #{highPrice},
        low_price = #{lowPrice},
        `change` = #{change},
        change_price = #{changePrice},
        cash_buying_price = #{cashBuyingPrice},
        cash_selling_price = #{cashSellingPrice},
        tt_buying_price = #{ttBuyingPrice},
        tt_selling_price = #{ttSellingPrice},
        tc_buying_price = #{tcBuyingPrice},
        fc_selling_price = #{fcSellingPrice},
        exchange_commission = #{exchangeCommission},
        us_dollar_rate = #{usDollarRate},
        high52w_price = #{high52wPrice},
        high52w_date = #{high52wDate},
        low52w_price = #{low52wPrice},
        low52w_date = #{low52wDate},
        currency_unit = #{currencyUnit},
        provider = #{provider},
        signed_change_price = #{signedChangePrice},
        signed_change_rate = #{signedChangeRate},
        change_rate = #{changeRate}
  </insert>
</mapper>
